/*
=================================================
	UP FROM 1200PX
=================================================
*/ 
@media (min-width: 1200px) and (max-width: 1366px){
   
}
/*
=================================================
	FROM 992PX TO 1199PX
=================================================
*/ 
@media (min-width: 992px) and (max-width: 1199px) {
	.header{padding: 22px 40px;}
	.logo{margin-right: 10px;}
	.top_ui_element .login{margin-right: 15px;}
	.top_navigation>ul>li{margin-right: 10px;}
	.keo_navigation>ul>li>a{font-size: 14px;}
}
/*
=================================================
	FROM 0PX TO 991PX
=================================================
*/ 
@media (max-width: 991px) {
	.keo_hdg_02>p .d_block{display: inline;}
	.keo_hdg_01>p .d_block{display: inline;}
	.banner_text>h2{padding: 0px 40px;font-size: 38px;}
	.banner_text>h2 .d_block{display: inline;}
	.top_ui_element .register{min-width: 102px;}
	.header{padding: 22px 20px;}
	.logo{margin-right: 10px;}
	.top_navigation{margin-right: 10px;}
	.top_ui_element .login{margin-right: 15px;}
	.top_navigation>ul>li{margin-right: 10px;}
	.keo_top_form>input[type="text"]{width: 204px;}
	.keo_navigation{display: none;}
	#dl_menu_bottom.dl-menuwrapper{display: inline-block;float: none;width: 100%;text-align: center;margin-top: 0px;}
}

/*
=================================================
	FROM 768PX TO 979PX
=================================================
*/

@media (min-width: 768px) and (max-width: 979px) {
	.widget>h5{font-size: 14px;}
	.keo_offer_wrap{padding: 60px 0px;}
	.keo_testi_wrap>p .d_block{display: inline;}

}
/*
=================================================
	FROM 0PX TO 767PX
=================================================
*/
@media (max-width: 767px){
	.keo_footer_bg{padding: 50px 60px 30px;}
	.keo_offer_bg:before,.keo_offer_bg:after{width: 100%;}
	.keo_offer_wrap{padding: 30px 100px;}
	.keo_offer_wrap.color_1>h3,.keo_offer_wrap.color_1>p{color: #ffffff;}
	.keo_offer_wrap.color_1>p .d_block,.keo_offer_wrap.color_2>p .d_block{display: inline;}
	.keo_testi_wrap>p .d_block{display: inline;}
	.banner_text>h2{line-height: normal;font-size: 28px;}
	.keo_choose_outer_wrap{text-align: center;}
	.keo_choose_col{width: 48%;}
	.keo_choose_wrap{margin-bottom: 20px;}
	.top_navigation>ul{display: none;}
	.dl-menuwrapper{display: block;margin-top: -15px;}
	.keo_testimonial_slider .slick-prev{left: -25px;}
	.keo_testimonial_slider .slick-next{right: -25px;}
}

/*
=================================================
	FROM 0PX TO 0PX
=================================================
*/
@media (max-width: 480px){ 
	.keo_offer_wrap{padding: 30px 10px;}
	.right_section{width: 100%;margin-top: 15px;text-align: center;}
	.top_ui_element.right{display: inline-block;float: none;vertical-align: middle;margin-right: 15px;}
	.top_navigation{display: inline-block;float: none;vertical-align: middle;}
	.logo.left{float: none;display: inline-block;}
	.keo_top_form.left{float: none;display: inline-block;}
	.left_section{width: 100%;text-align: center;}
	.keo_offer_wrap>a{width: 210px;}
	.keo_offer_wrap>p{margin-bottom: 20px;}
}
/*
=================================================
	FROM 320PX TO 0PX
=================================================
*/
@media (max-width: 480px){ 
	.banner_text{display: none;}
}