/*
	  ============================================================
		   Transaction Effect
	  ============================================================
*/
.keo_navigation ul,
.keo_navigation ul li,
.keo_navigation ul li a,
.keo_navigation ul li ul
{
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;	
}
/*
	============================================================
		Color 1
	============================================================
*/
.theme-color1{
	color:#3a4660;
}
.theme-bg1{
	background-color:#3a4660;
}
.theme-border-color1{
	border:1px solid #3a4660;
}

/*
	============================================================
		Color 2
	============================================================
*/
.theme-color2{
	color:#3a4660;
}
.theme-bg2{
	background-color:#3a4660;
}
.theme-border-color3{
	border:1px solid #3a4660;
}

/*
	============================================================
		Color 3
	============================================================
*/
.theme-color3{
	color:#3a4660;
}
.theme-bg3{
	background-color:#3a4660;
}
.theme-border-color3{
	border:1px solid #3a4660;
}