/*
	============================================================
		Global and Common Css Start
	============================================================
*/
header, section,footer {
	float: left;
	width: 100%;
	position: relative;
}
.keo_wrapper {
	overflow: hidden;
}
.full_width, .keo_wrapper {
	float: left;
	width: 100%;
	position: relative;
}
figure{
	margin-bottom: 0px;
}
.top_bg1 {
	background-color: #f0f0f0;
}
.left {
	float: left;
}
.right {
	float: right;
}
.row.no_gutter {
	margin-left: 0;
	margin-right: 0;
}
.row.no_gutter>[class*='col-']:not(:first-child), .row.no_gutter>[class*='col-']:not(:last-child) {
	padding-right: 0;
	padding-left: 0;
}
/*Rating star css start*/
.rating_stars li {
	float: left;
	margin: 0 0 0 3px;
}
.rating_stars li:first-child {
	margin: 0;
}
.rating_stars li i {
	color: #ff8105;
}
.overlay_dark {
	position: relative;
}
.overlay_dark::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}
.overlay {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
.position_center_center {
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.position_center_x {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.position_center_neg_x {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(100%, -50%);
	-moz-transform: translate(100%, -50%);
	-ms-transform: translate(100%, -50%);
	transform: translate(100%, -50%);
}
.position_center_y {
	left: 50%;
	position: absolute;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.p_absolute {
	position: absolute;
}
.p_relative {
	position: relative;
}
.z-index_1 {
	z-index: 1;
}
.z-index_2 {
	z-index: 2;
}
.row.no_gutters {
	margin-right: 0;
	margin-left: 0;
}
.row.no_gutters>[class^="col-"], .row.no_gutters>[class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}
/*Meta Post Css start*/
.meta_post ul {
	display: inline-block;
	list-style: none;
}
.meta_post ul li {
	float: left;
	font-size: 15px;
	margin: 0 0 0 10px;
}
.meta_post ul li span {
	margin-right: 5px;
}
.meta_post ul li a {
	color: #989898;
}
.meta_post ul li:first-child {
	margin: 0;
}
.meta_post ul li:first-child::before {
	display: none;
}
.meta_post ul li i {
	margin: 0 10px 0 0;
	color: #989898;
}
/*Display Css start*/
.d_inline_block {
	display: inline-block;
}
.d_block {
	display: block;
}
.h_white h1, .h_white h2, .h_white h3, .h_white h4, .h_white h5, .h_white h6 {
	color: #fff;
}
.p_white p {
	color: #fff;
}
.h_m_0 h1, .h_m_0 h2, .h_m_0 h3, .h_m_0 h4, .h_m_0 h5, .h_m_0 h6 {
	margin: 0;
}
.p_m_0 p {
	margin: 0;
}
.h_white h1 a, .h_white h2 a, .h_white h3 a, .h_white h4 a, .h_white h5 a, .h_white h6 a {
	color: #fff;
}
.p_white p {
	color: #fff;
}
.h_m_0 h1 a, .h_m_0 h2 a, .h_m_0 h3 a, .h_m_0 h4 a, .h_m_0 h5 a, .h_m_0 h6 a {
	margin: 0;
}
.p_m_0 p a {
	margin: 0;
}
/*margin Bottom*/
.mb_5 {
	margin-bottom: 5px;
}
.mb_10 {
	margin-bottom: 10px;
}
.mb_15 {
	margin-bottom: 15px;
}
.mb_20 {
	margin-bottom: 20px;
}
.mb_25 {
	margin-bottom: 25px;
}
.mb_30 {
	margin-bottom: 30px;
}
.mb_35 {
	margin-bottom: 35px;
}
.mb_40 {
	margin-bottom: 40px;
}
.mb_45 {
	margin-bottom: 45px;
}
.mb_50 {
	margin-bottom: 50px;
}
.mb_55 {
	margin-bottom: 55px;
}
.mb_60 {
	margin-bottom: 60px;
}
.mb_65 {
	margin-bottom: 65px;
}
.mb_70 {
	margin-bottom: 70px;
}
.mb_75 {
	margin-bottom: 75px;
}
.mb_80 {
	margin-bottom: 80px;
}
.mb_85 {
	margin-bottom: 85px;
}
.mb_90 {
	margin-bottom: 90px;
}
.mb_95 {
	margin-bottom: 95px;
}
.mb_100 {
	margin-bottom: 100px;
}
/*Margin Top Css Start*/
.mt_5 {
	margin-top: 5px;
}
.mt_10 {
	margin-top: 10px;
}
.mt_15 {
	margin-top: 15px;
}
.mt_20 {
	margin-top: 20px;
}
.mt_25 {
	margin-top: 25px;
}
.mt_30 {
	margin-top: 30px;
}
.mt_35 {
	margin-top: 35px;
}
.mt_40 {
	margin-top: 40px;
}
.mt_45 {
	margin-top: 45px;
}
.mt_50 {
	margin-top: 50px;
}
.mt_55 {
	margin-top: 55px;
}
.mt_60 {
	margin-top: 60px;
}
.mt_65 {
	margin-top: 65px;
}
.mt_70 {
	margin-top: 70px;
}
.mt_75 {
	margin-top: 75px;
}
.mt_80 {
	margin-top: 80px;
}
.mt_85 {
	margin-top: 85px;
}
.mt_90 {
	margin-top: 90px;
}
.mt_95 {
	margin-top: 95px;
}
.mt_100 {
	margin-top: 100px;
}
/*Padding Bottom Css start*/
.pb_5 {
	padding-bottom: 5px;
}
.pb_10 {
	padding-bottom: 10px;
}
.pb_15 {
	padding-bottom: 15px;
}
.pb_20 {
	padding-bottom: 20px;
}
.pb_25 {
	padding-bottom: 25px;
}
.pb_30 {
	padding-bottom: 30px;
}
.pb_35 {
	padding-bottom: 35px;
}
.pb_40 {
	padding-bottom: 40px;
}
.pb_45 {
	padding-bottom: 45px;
}
.pb_50 {
	padding-bottom: 50px;
}
.pb_55 {
	padding-bottom: 55px;
}
.pb_60 {
	padding-bottom: 60px;
}
.pb_65 {
	padding-bottom: 65px;
}
.pb_70 {
	padding-bottom: 70px;
}
.pb_75 {
	padding-bottom: 75px;
}
.pb_80 {
	padding-bottom: 80px;
}
.pb_85 {
	padding-bottom: 85px;
}
.pb_90 {
	padding-bottom: 90px;
}
.pb_95 {
	padding-bottom: 95px;
}
.pb_100 {
	padding-bottom: 100px;
}
/*Padding Top Css start*/
.pt_5 {
	padding-top: 5px;
}
.pt_10 {
	padding-top: 10px;
}
.pt_15 {
	padding-top: 15px;
}
.pt_20 {
	padding-top: 20px;
}
.pt_25 {
	padding-top: 25px;
}
.pt_30 {
	padding-top: 30px;
}
.pt_35 {
	padding-top: 35px;
}
.pt_40 {
	padding-top: 40px;
}
.pt_45 {
	padding-top: 45px;
}
.pt_50 {
	padding-top: 50px;
}
.pt_55 {
	padding-top: 55px;
}
.pt_60 {
	padding-top: 60px;
}
.pt_65 {
	padding-top: 65px;
}
.pt_70 {
	padding-top: 70px;
}
.pt_75 {
	padding-top: 75px;
}
.pt_80 {
	padding-top: 80px;
}
.pt_85 {
	padding-top: 85px;
}
.pt_90 {
	padding-top: 90px;
}
.pt_95 {
	padding-top: 95px;
}
.pt_100 {
	padding-top: 100px;
}
/*Padding Left Css start*/
.pl_5{
	padding-left: 5px;
}
.pl_10{
	padding-left: 10px;
}
.pl_15{
	padding-left: 15px;
}
.pl_20{
	padding-left: 20px;
}
.pl_25{
	padding-left: 25px;
}
.pl_30{
	padding-left: 30px;
}
.pl_35{
	padding-left: 35px;
}
.pl_40{
	padding-left: 40px;
}
.pl_45{
	padding-left: 45px;
}
.pl_50{
	padding-left: 50px;
}
.pl_55{
	padding-left: 55px;
}
.pl_60{
	padding-left: 60px;
}
.pl_65{
	padding-left: 65px;
}
.pl_70{
	padding-left: 70px;
}
.pl_75{
	padding-left: 75px;
}
.pl_80{
	padding-left: 80px;
}
.pl_85{
	padding-left: 85px;
}
.pl_90{
	padding-left: 90px;
}
.pl_100{
	padding-left: 100px;
}
/*Padding Right Css start*/
.pr_5{
	padding-right: 5px;
}
.pr_10{
	padding-right: 10px;
}
.pr_15{
	padding-right: 15px;
}
.pr_20{
	padding-right: 20px;
}
.pr_25{
	padding-right: 25px;
}
.pr_30{
	padding-right: 30px;
}
.pr_35{
	padding-right: 35px;
}
.pr_40{
	padding-right: 40px;
}
.pr_45{
	padding-right: 45px;
}
.pr_50{
	padding-right: 50px;
}
.pr_50{
	padding-right: 50px;
}
.pr_55{
	padding-right: 55px;
}
.pr_60{
	padding-right: 60px;
}
/*Top Bottom Padding css start*/
.tb_padding_80 {
	padding: 80px 0;
}
/*Top Bottom Margin css start*/
.tb_margin {
	margin: 80px 0;
}
/*Button List Css Start*/
.btn_list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.btn_list li {
	margin: 0 0 0 30px;
}
.btn_list li:first-child {
	margin: 0;
}
/*Margin zero css start*/
.m_0 {
	margin: 0;
}
.m_bottom_0 {
	margin-bottom: 0;
}
.m_top_0 {
	margin-top: 0;
}
.m_left_0 {
	margin-left: 0;
}
.m_right_0 {
	margin-right: 0;
}
/*Padding zero css start*/
.p_0 {
	padding: 0;
}
.p_top_0 {
	padding-top: 0;
}
.p_bottom_0 {
	padding-bottom: 0;
}
.p_left_0 {
	padding-left: 0;
}
.p_right_0 {
	padding-right: 0;
}
/*Border css start*/
.border_0 {
	border: 0;
}
/*Width and Height css start*/
.w_100_pre {
	width: 100%;
}
.h_100_pre {
	height: 100%;
}
/*Border Radius Css start*/
.radius_0 {
	border-radius: 0px;
}
.radius_1 {
	border-radius: 1px;
}
.radius_2 {
	border-radius: 2px;
}
.radius_3 {
	border-radius: 3px;
}
.radius_4 {
	border-radius: 4px;
}
.radius_5 {
	border-radius: 5px;
}
.radius_6 {
	border-radius: 6px;
}
.radius_7 {
	border-radius: 7px;
}
.radius_8 {
	border-radius: 8px;
}
.radius_9 {
	border-radius: 9px;
}
.radius_10 {
	border-radius: 10px;
}
/*Overflow css start*/
.overflow_hidden {
	overflow: hidden;
}
/*Href Color*/
.blue_color{
	color: #2c83dc;
}
/*Back Background With Opacity*/
.bg_opacity75{
	background-color: rgba(0,0,0,0.75);
}
.bg_opacity8{
	background-color: rgba(0,0,0,0.8);
}
.bg_opacity85{
	background-color: rgba(0,0,0,0.85);
}
.bg_opacity9{
	background-color: rgba(0,0,0,0.9);
}
/*Text color css start*/
.white_text{
	color: #ffffff;
}
.white_bg {
	background: #fff;
}
.gray_bg {
	background: #f8f8f8;
}
.font_bold {
	font-weight: bold;
}
.bg1{
	background-color: #fb8f2b;
}
.article_bg{
	background-color: #61a9aa;
}
.light_black_bg {
    background-color: #2d2d2d;
}
.footer_bg1{
	background-color: #222222;
}
/*Background image Css*/
.keo_bg_img{
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}