
/*
	==============================================================
		Import css start
	==============================================================
*/
@import 'bootstrap.css';
@import 'font-awesome.css';
@import 'slick.css';
@import 'slick-theme.css';
@import 'typography.css';
@import 'global.css';
@import 'component.css';
/*
	==============================================================
		Top Warp css start
	==============================================================
*/
.keo_wrapper {
    float: left;
    width: 100%;
    overflow: hidden;
}

/*
	==============================================================
		Top navigation css start
	==============================================================
*/
.header{
	padding: 22px 75px;
}
.logo{
	margin-right: 40px;
	margin-top: 6px;
}	
.keo_top_form{

}
.keo_top_form>input[type="text"]{
	background-color: #f2f3f5;
	width: 254px;
	height: 40px;
	border-radius: 4px;
	border: 0px;
}
.keo_top_form>button{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	height: 100%;
	background-color: transparent;
	border: 0px;
	padding: 0px 12px;
}
.keo_top_form>button>img{
	
}
.top_ui_element{

}
.top_ui_element .login{
	color: #252525;
	font-weight: bold;
	margin-right: 30px;
}
.top_ui_element .login:hover{
	color: #f5863e;
}
.top_ui_element .register{
	min-width: 122px;
	height: 38px;
	line-height: 38px;
	background-color: #f5863e;
	border-radius: 4px;
	color: #ffffff;
	text-align: center;
	border: 1px solid #f5863e;
}
.top_ui_element .register:hover{
	background-color: #ffffff;
	color: #f5863e;
}
.top_navigation{
	margin-top: 11px;
	margin-right: 20px;
}
.top_navigation>ul{

}
.top_navigation>ul>li{
	display: inline-block;
	margin-right: 18px;
}
.top_navigation>ul>li>a{
	display: block;
	font-size: 13px;
	color: #252525;
}
.top_navigation>ul>li:hover>a{
	color: #f5863e;
}
.dl-menuwrapper button{
	background-color: #f5863e;
}
/*
	==============================================================
		Bottam css start
	==============================================================
*/
.keo_botm_nav_bg{
	background-color: #f7f8fa;
}
.keo_navigation>ul,
.keo_navigation{
	
}
.keo_navigation>ul>li{
	float: left;
	width: auto;
	position: relative;
}
.keo_navigation>ul>li>a{
	display: inline-block;
	font-weight: 600;
	font-size: 16px;
	padding: 24px 20px 24px;
	text-transform: capitalize;
}
.keo_navigation>ul>li:hover>a{
	background-color: #2f3950;
	color: #ffffff;
}
/*navigation dropdown start*/
.keo_inner{
	position: absolute;
	top: 100%;
	left: 0px;
	right:0px;
	width: 650px;
	padding: 20px 0px;
	z-index: 999999;
	background-color: rgba(58,70,96,0.98);
	overflow: hidden;
	visibility: hidden;
	opacity: 0; 
	transform: scale(0.08);
	-moz-transform: scale(0.08);
	-webkit-transform: scale(0.08);
}
.keo_navigation>ul li:hover .keo_inner{
	overflow: visible;
	visibility: visible;
	opacity: 1;
	transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
}
.keo_inner>ul{
	float: left;
	border-right: 1.5px solid #858b98;
	width: 33.33%;
	min-height: 160px;
}
.keo_inner>ul:last-child{
	border-right: 0px;
}
.keo_inner>ul>li{
	width: 100%;
}
.keo_inner>ul>li>a{
	display: block;
    font-size: 14px;
    padding: 10px 20px;
    color: #ffffff;
    position: relative;
}
.keo_inner>ul>li>a:before{
	content: "\f105";
	font-family: fontawesome;
    position: absolute;
    top: 10px;
    right: 14px;
    bottom: 0px;
    color: #ffffff;
    font-size: 14px;
    margin: auto;
    height: auto;
}
/* Dl Menu Wrap Css Start*/
.dl-menuwrapper {
	display: none;
	z-index: 1000;
	width: auto;
	max-width: initial;
}
.dl-menuwrapper li a{
	text-align: left;
	text-transform: capitalize;
}
.dl-menuwrapper li>a:after, .dl-menuwrapper li.dl-back:after {
	color: #ffffff;
}
.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active, .dl-menuwrapper ul {
	background-color: #333;
}
#dl-menu>ul {
	width: 300px;
	max-width: 300px;
	right: 0px;
}
/*
	==============================================================
		Main Banner css start
	==============================================================
*/
.main_banner{
	float: left;
	width: 100%;
}
.main_banner figure img{
	width: 100%
}
.main_banner .theme_overlay:before{
	background-color: #d7ae30;
	opacity: 0.03;
}
.banner_slide{

}
.banner_slide>figure{
	position: relative;
}
.banner_text{
	position: absolute;
	top:50%;
	left: 0px;
	right:0px;
	text-align: center;
	transform: translateY(-50%);
	width: 100%;
}
.banner_text>h2{
	font-size: 43px;
	color: #ffffff;
	line-height: 56px;
	margin-bottom: 30px;
	font-family: 'Poppins', sans-serif;
}
.banner_text>a{
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	display: inline-block;
	min-width: 281px;
	min-height: 55px;
	line-height: 55px;
	background-color: rgba(255,255,255,0.5);
	border-radius: 4px;
}
.banner_text>a:hover{
	background-color: #f5863e;
}
/*slick btn start*/
.main_banner .slick-prev, 
.main_banner .slick-next{
	height: 135px;
	width: 30px;
	display: none !important;
}
.main_banner .slick-prev:hover, 
.main_banner .slick-next:hover{
	background-color: #fff;
}
.main_banner .slick-prev:before, 
.main_banner .slick-next:before{
	line-height: 135px;
	color:#fff;
	content: "\f105";
	font-size: 30px;
	color:#fff;
	display: none !important;
}
.main_banner .slick-prev:before{
	content: "\f104";
}
.main_banner .slick-prev:hover:before, 
.main_banner .slick-next:hover:before{
	color:#fff;
}
.slick-slide.slick-current.slick-active span{
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.slick-slide.slick-current.slick-active .large_text{
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.slick-slide.slick-current.slick-active .small_text{
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.slick-slide.slick-current.slick-active .theme_btn{
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.slick-slide.slick-current.slick-active span{
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
/*
	==============================================================
		Heading css start
	==============================================================
*/
.keo_hdg_01{
	text-align: center;
}
.keo_hdg_01.text-left{
	text-align: left;
}
.keo_hdg_01>h3{
	font-size: 38px;
	font-weight: bold;
}
.keo_hdg_01>h3:before{
	content: "";
	position: absolute;
	right: -22px;
	bottom: 8px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 13px 13px;
	border-color: transparent transparent #f2c446 transparent;
}
.keo_hdg_01>p{
	color: #9092a0;
}
.keo_hdg_02{
	text-align: center;
}
.keo_hdg_02>h3{
	font-size: 38px;
	font-weight: bold;
	color: #454545;
}
.keo_hdg_02>h3:before{
	content: "";
	position: absolute;
	right: -22px;
	bottom: 8px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 13px 13px;
	border-color: transparent transparent #454545 transparent;
}
.keo_hdg_02>p{
	color: #454545;
}
/*
	==============================================================
		How work css start
	==============================================================
*/
.keo_how_work_bg{
	padding: 100px 0px 66px;
}
.col_custom_pdg{
	padding: 0px 30px;
}
.keo_work_wrap{
	border: 0.5px solid #dbdbe5;
	box-shadow: 0px 0px 4px 0px rgba(124,124,191,0.1);
	padding: 45px 45px;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 30px;
}
.keo_work_wrap .icon{
	margin-bottom: 45px;
	width: 71px;
	height: 71px;
	line-height: 71px;
	border-radius: 100%;
}
.keo_work_wrap>h4{
	font-size: 16px;
	color: #353535;
	margin-bottom: 20px;
	font-weight: bold;
}
.keo_work_wrap>p{
	font-size: 13px;
}
.work_color_01{
	background-color: #fdb02b;
}
.work_color_02{
	background-color: #ff5553;
}
.work_color_03{
	background-color: #c990f7;
}
/*
	==============================================================
		Booked Classes css start
	==============================================================
*/
.keo_classes_slider{

}
.keo_classes_wrap{
	padding: 0px 5px;
}
.keo_classes_wrap>img{
	width: 100%;
	height: auto;
}
.keo_classes_wrap .classes_text{
	font-size: 25px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	padding: 10px 10px;
	bottom: 15px;
	left: 0px;
	width: 100%;
}
.keo_classes_slider .slick-prev, 
.keo_classes_slider .slick-next{
	width: 40px;
	height: 40px;
	border-radius: 4px;
}
.keo_classes_slider .slick-prev{
	left: 50px;
}
.keo_classes_slider .slick-next{
	right: 50px;
}
.keo_classes_slider .slick-prev:before{
	content: "";
	line-height: 40px;
	background-image: url('../images/arrow_left.png');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
}
.keo_classes_slider .slick-next:before{
	content: "";
	line-height: 40px;
	background-image: url('../images/arrow_right.png');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
}
.classes_view_all{
	text-align: center;
}
.classes_view_all>a{
	min-width: 122px;
	min-height: 40px;
	background-color: #f5863e;
	border-radius: 4px;
	color: #ffffff;
	line-height: 40px;
}
/*
	==============================================================
		Why choose css start
	==============================================================
*/
.keo_why_choose_bg{
	padding: 95px 0px 100px;
}
.keo_choose_outer_wrap{
	
}
.keo_choose_col{
	padding-right: 15px;
	padding-left: 15px;
	width: 19.5%;
	display: inline-block;
}
.keo_choose_wrap{
	text-align: center;
}
.keo_choose_wrap>img{
	margin-bottom: 15px;
}
.keo_choose_wrap>h5{
	font-size: 16px;
	font-weight: bold;
	color: #353535;
}
/*
	==============================================================
		Recently Added css start
	==============================================================
*/
.keo_recently_bg{
	background-color: #f5c74b;
	padding: 95px 0px 100px;
}
.keo_recently_wrap{
	margin-bottom: 20px;
}
.keo_recently_wrap>figure{

}
.keo_recently_wrap>figure>img{
	width: 100%;
}
.keo_recently_text{
	background-color: #ffffff;
	padding: 20px 14px;
}
.keo_recently_text>h5{
	font-size: 16px;
	margin-bottom: 12px;
	text-transform: uppercase;
	font-weight: bold;
}
.keo_recently_text>h5>a{

}
.keo_by{
	margin-bottom: 12px;
	font-size: 14px;
	color: #353535;
	font-weight: bold;
}
.keo_price{
	font-size: 14px;
}
.keo_price .price{
	color: #f5863e;
}
.keo_price .plan{
	color: #353535
}
.recently_view_all{
	text-align: center;
	margin-top: 30px;
}
.recently_view_all>a{
	min-width: 122px;
	min-height: 40px;
	background-color: #3a4660;
	border-radius: 4px;
	color: #ffffff;
	line-height: 40px;
}
/*
	==============================================================
		Video css start
	==============================================================
*/
.keo_video_wrap_bg{
	padding: 100px 0px;
}
.keo_video_wrp{

}
.keo_video_wrp>img{
	width: 100%;
}
.keo_video_wrp .video_icon{
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	width: 86px;
	height: 86px;
	cursor: pointer;
}
.keo_video_wrp iframe{
	width: 100%;
	height: 594px;
}
.keo_video_model .modal-content{
	background-color: transparent;
}
/*
	==============================================================
		Offer css start
	==============================================================
*/
.keo_offer_bg{

}
.keo_offer_bg:before,
.keo_offer_bg:after{
	content: "";
	position: absolute;
	background-size: cover;
	width: 50%;
	height: 100%;
	top: 0px;
}
.keo_offer_bg:before{
	background-image: url('../images/book_class_bg.jpg');
	background-position: left;
	left: 0px;
}
.keo_offer_bg:after{
	background-image: url('../images/offer_class_bg.jpg');
	background-position: right;
	right: 0px;
}
.keo_offer_wrap{
	text-align: center;
	padding: 100px 100px;
	z-index: 10;
}
.keo_offer_wrap>h3{
	font-size: 38px;
	font-weight: bold;
	margin-bottom: 20px;
}
.keo_offer_wrap>h3:before{
	content: "";
	position: absolute;
	right: -22px;
	bottom: 8px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 13px 13px;
	border-color: transparent transparent #f2c446 transparent;
}
.keo_offer_wrap>p{
	margin-bottom: 40px;
}
.keo_offer_wrap>a{
	width: 280px;
	height: 55px;
	background-color: #f5863e;
	color: #ffffff;
	font-size: 20px;
	border-radius: 4px;
	line-height: 55px;
}
/*Color 1*/
.keo_offer_wrap.color_1>h3{
	color: #454545;
}
.keo_offer_wrap.color_1>p{
	color: #454545;
}
/*Color 2*/
.keo_offer_wrap.color_2>h3{
	color: #ffffff;
}
.keo_offer_wrap.color_2>p{
	color: #ffffff;
}
/*
	==============================================================
		Testimonial css start
	==============================================================
*/
.keo_testomonial_bg{
	padding: 95px 0px 90px;
	background-image: url('../images/testimonial_bg_01.png');
	background-size: auto;
	background-position: left bottom;
	background-repeat: no-repeat;
}
.keo_testimonial_slider{

}
.keo_testi_wrap{
	text-align: center;
}
.keo_testi_wrap>p{
	font-size: 30px;
	color: #ff924b;
	font-weight: 600;
	font-style: italic;
	margin-bottom: 80px;
	line-height: 40px;
	padding: 70px 25px 0px;
	font-family: 'Poppins', sans-serif;
}
.keo_testi_wrap>p:before,
.keo_testi_wrap>p:after{
	content: "";
	position: absolute;
	background-size: auto;
	background-repeat: no-repeat;
	width: 30px;
	height: 22px;
}
.keo_testi_wrap>p:before{
	background-image: url('../images/testimonial_icon_01.png');
	top: 0px;
    left: 80px;
}
.keo_testi_wrap>p:after{
	background-image: url('../images/testimonial_icon_02.png');
	bottom: -45px;
    right: 90px;
}
.keo_testi_wrap>h6{
	font-size: 16px;
	color: #454545;
	margin-bottom: 10px;
}
.keo_testi_wrap>span{
	font-size: 12px;
	color: #454545;
}
.keo_testimonial_slider .slick-prev, 
.keo_testimonial_slider .slick-next{
	background-color: transparent;
}
.keo_testimonial_slider .slick-prev{
	left: -80px;
}
.keo_testimonial_slider .slick-next{
	right: -80px;
}
.keo_testimonial_slider .slick-prev:before,
.keo_testimonial_slider .slick-next:before{
	content: "";
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
}
.keo_testimonial_slider .slick-prev:before{
	background-image: url('../images/arrow_left.png');
}
.keo_testimonial_slider .slick-next:before{
	background-image: url('../images/arrow_right.png');
}
/*
	==============================================================
		Footer css start
	==============================================================
*/
.keo_footer_bg{
	background-color: #354059;
	padding: 50px 100px 30px;
}
.footer_logo{
	margin-top: 15px;
}
.footer_logo>img{
	margin-bottom: 15px;
}
.footer_logo>p{
	color: #bcbcbc;
	font-size: 15px;
}
.widget{
	margin-bottom: 20px;
}
.widget>h5{
	font-size: 15px;
	color: #f5f5f5;
	margin-bottom: 14px;
}
.footer_links>ul{

}
.footer_links>ul>li{
	position: relative;
	width: 100%;
	margin-bottom: 10px;
}
.footer_links>ul>li>a{
	display: block;
	color: #bcbcbc;
	font-size: 15px;
}
.keo_copyright_bg{
	background-color: #303b53;
	padding: 8px 0px;
}
.keo_copyright_text{
	text-align: center;
}
.keo_copyright_text>p{
	font-size: 13px;
	color: #bcbcbc;
	margin-bottom: 0px;
}
/*
	==============================================================
		Back to Top Preloader css start
	==============================================================
*/
.keo_topbtn {
	color: #000;
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 20px;
	padding: 3px 0px 0px 0px;
	margin-top: -10px;
	position: fixed;
	background-color: #f5c74b;
	bottom: 20px;
	right: 20px;
}
.preloader {
	background-color:#ffffff;
	background-image:url(../images/preloader.GIF);
	background-position:center center;
	background-repeat:no-repeat;
	height:100%;
	left:0px; top:0px;
	position:fixed;
	width:100%;
	z-index:999999;
}
.loader_outer{
	height:100vh;
	width:100vh;
	left:0px; 
	top:0px;
	position:fixed;
}
.loader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #f5863e;
	border-bottom: 16px solid #f5863e;
	height:100%;
	width:100%;
	z-index:999999;
	background-color:#ffffff;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*
	==============================================================
		All Classes Page CSS Start
	==============================================================
*/
.keo_explore_classes_bg{
	padding: 70px 0px;
	padding: 95px 0px 90px;
    background-image: url(../images/testimonial_bg_01.png);
    background-size: auto;
    background-position: left bottom;
    background-repeat: no-repeat;
}
.keo_classes_page_bg{
	background-image: url(../images/classes_page_bg_01.png);
    background-size: auto;
    background-position: right top;
    background-repeat: no-repeat;
}
.keo_breadcrumb{
	margin-bottom: 30px;
}
.keo_breadcrumb>li{
	position: relative;
	display: inline-block;
	padding: 0px 10px 0px 18px;
}
.keo_breadcrumb>li:first-child{
	padding-left: 0px;
}
.keo_breadcrumb>li:before{
	content: ">";
	position: absolute;
	top: 0px;
	left: 0px;
	width: auto;
	height: auto;
	color: #555555;
}
.keo_breadcrumb>li:first-child:before{
	display: none;
}
.keo_breadcrumb>li>a{
	color: #555555;
}
.keo_breadcrumb>li>span{
	color: #555555;
}
.keo_aside_outer{
	border: 1px solid #e05746;
}
.keo_aside_hdg{
	text-align: center;
	background-image: url('../images/classes_bg_01.jpg');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
}
.keo_aside_hdg>h5{
	color: #ffffff;
	font-style: 16px;
	padding: 20px 0px;
}
.keo_aside_inner{
	padding: 20px;
}
.keo_heart_icon{
	width: 35px;
	height: 35px;
	border-radius: 100%;
	top: 10px;
	right: 10px;
	background-color: rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.2);
	text-align: center;
	line-height: 33px;
}
.keo_heart_icon img{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	width: 17px;
	height: 14px;
}
.keo_heart_icon .white{
	display: block;
}
.keo_heart_icon .red{
	display: none;
}
.keo_heart_icon:hover .white{
	display: none;
}
.keo_heart_icon:hover .red{
	display: block;
}
.keo_heart_icon:hover{
	background-color: rgba(253,60,60,0.1);
	border-color: rgba(253,60,60,0.2);
}
.keo_rating{

}
.keo_rating>img{

}
.keo_rating .rating{
	color: #edbd2d;
	font-size: 12px;
}
.keo_rating .count{
	color: #787878;
	font-size: 12px;
}
.keo_aside_search{

}
.keo_aside_search>input[type="text"]{
	background-color: #f2f3f5;
	width: 100%;
	height: 40px;
	border-radius: 4px;
	border: 0px;
}
.keo_aside_search>button{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	height: 100%;
	background-color: transparent;
	border: 0px;
	padding: 0px 12px;
}
.keo_aside_search>button>img{
	
}
.keo_aside_search>select{
	background-color: #f2f3f5;
	width: 100%;
	height: 40px;
	border-radius: 4px;
	border: 0px;
	padding: 0px 15px;
	color: #929396;
}
.keo_aside_search>h5{
	font-size: 13px;
	color: #787878;
	margin-bottom: 15px;
}

/* Customize the label (the container) */
.keo_chkbox_cont {
	display: block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #787878;
}

/* Hide the browser's default checkbox */
.keo_chkbox_cont input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 3px;
	left: 0;
	height: 15px;
	width: 15px;
	/*background-color: #eee;*/
	border: 1px solid #d2d3d4;
}

/* On mouse-over, add a grey background color */
.keo_chkbox_cont:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.keo_chkbox_cont input:checked ~ .checkmark {
	background-color: #f5863e;
	border-color: #f5863e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.keo_chkbox_cont input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.keo_chkbox_cont .checkmark:after {
	left: 4px;
    top: 1px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.keo_aside_search>input[type="submit"]{
	color: #ffffff;
	background-color: #e95c4a;
	border-radius: 4px;
	border: 0px;
}
.kf_range_slider{
	float:left;
	width:100%;
	position:relative;
	padding-bottom: 15px;
}
.kf_range_slider span{
	display:inline-block;
	width:10%;
	font-weight:600;
	color:#999999;	
}
.kf_range_slider span:nth-of-type(2){
	float:right;
	text-align:right;
}
.kf_range_slider .slider-range{
	display:inline-block;
	width:96%;
	margin:0px 5px;	
}
.kf_range_slider .ui-widget-content{
	background-color:#929396;
	border-radius:0px;
	border:0px;	
}
.kf_range_slider .ui-slider-horizontal{
	height:3px;	
}
.kf_range_slider .ui-slider .ui-slider-handle{
	height:16px;
	width:16px;
	border:3px solid;
	background-color:#fff;
	border-radius:100%;
	cursor:pointer;	
	border: 1px solid #929396;
}
.kf_search_field.kf_search_field .amount{
	border:0;
	font-size:15px;	
}
.kf_search_field.kf_search_field .amount{
	position: absolute;
    margin: 0px;
    width: 100%;
    height: auto;
    line-height: 14px;
    padding: 0px;
    height: auto;
    text-align: right;
    font-weight: 600;
    bottom: 0;
}
.kf_range_slider .ui-slider-horizontal .ui-slider-handle{
	top: -6px;
}
.kf_range_slider .ui-slider-horizontal .ui-slider-range{
	background-color: #e95c4a;
}