@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');
/*
font-family: 'Open Sans', sans-serif;

*/

html, body {
    height: 100%;
    outline: none;
}
body {
    background: #fff;
    font-size: 14px;
    color: #777777;
    font-family: 'Open Sans', sans-serif;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-weight: 600;
    margin: 0px;
}
h1 {
    font-size:40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}
h6 {
    font-size: 18px;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
    color: #111111;
    font-family: 'Open Sans', sans-serif;
}
div{
    outline: none;
}
p a {
    color: #8a949f;
}
p a:hover {
    text-decoration: underline;
    outline: none;
}
ul{
    padding:0px 0px;
    margin:0px 0px;
}
li{
    list-style:none;
    text-decoration:none;
}
p{
    letter-spacing: normal;
    margin: 0 0 20px;
    line-height:26px;
    font-size: 15px;
    color: #777777;
    font-family: 'PT Sans', sans-serif;
}
a {
    color: #292f35;
    outline: none !important;
}
a:hover, a:focus {
    outline: none;
    text-decoration: none;
}
.btn:hover, .btn:focus, .btn.focus {
    outline: none;
    text-decoration: none;
}
img {
    max-width: 100%;
}
iframe {
    border: 0;
    width: 100%;
}
button {
    background: none;
}
blockquote {
    padding: 0;
    border: 0;
}
label {
    display: block;
    font-weight: 400;
    margin: 0;
}
textarea {
    border-radius: 0!important;
    resize: none;
}
figure{
    width:100%;
    float:left;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], input, .form-control {
    height: 50px;
    line-height: 41px;
    width: 100%;
    background: none;
    color: #999;
    padding: 0 20px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    box-shadow: none;
    text-transform: capitalize;
}
::-webkit-input-placeholder {color: #929396; opacity: 1;font-size: 13px;}
:-moz-placeholder { color: #929396; opacity: 1; font-size: 13px;}
::-moz-placeholder { color: #929396; opacity: 1; font-size: 13px;}
:-ms-input-placeholder {color: #929396; opacity: 1;font-size: 13px;}

.white_ph::-webkit-input-placeholder {color: #ffffff; opacity: 1;}
.white_ph:-moz-placeholder { color: #ffffff; opacity: 1; }
.white_ph::-moz-placeholder { color: #ffffff; opacity: 1; }
.white_ph:-ms-input-placeholder {color: #ffffff; opacity: 1;}
/*
    ==============================================================
        How work css start
    ==============================================================
*/