 {% if module_bookedclasses_status %}
 <section class="keo_book_classes_bg">
            <div class="container">
                <div class="keo_hdg_01 text-cenetr mb_50 full_width">
                      <h3 class="p_relative d_inline_block">Most Booked Classes</h3>
                </div>
            </div>
            <div class="keo_classes_slider mb_55" id="keo_classes_slider">
                <div class="keo_classes_wrap p_relative full_width">
                    <img src="catalog/view/theme/skillup/assets/extra-images/classes_01.jpg" alt="">
                    <div class="p_absolute classes_text">Crayon Painting</div>
                </div>
                <div class="keo_classes_wrap p_relative full_width">
                    <img src="catalog/view/theme/skillup/assets/extra-images/classes_02.jpg" alt="">
                    <div class="p_absolute classes_text">Beauty Care</div>
                </div>
                <div class="keo_classes_wrap p_relative full_width">
                    <img src="catalog/view/theme/skillup/assets/extra-images/classes_03.jpg" alt="">
                    <div class="p_absolute classes_text">Baking Basics</div>
                </div>
                <div class="keo_classes_wrap p_relative full_width">
                    <img src="catalog/view/theme/skillup/assets/extra-images/classes_04.jpg" alt="">
                    <div class="p_absolute classes_text">Kids Education</div>
                </div>
                <div class="keo_classes_wrap p_relative full_width">
                    <img src="catalog/view/theme/skillup/assets/extra-images/classes_05.jpg" alt="">
                    <div class="p_absolute classes_text">Sweets Making</div>
                </div>
                <div class="keo_classes_wrap p_relative full_width">
                    <img src="catalog/view/theme/skillup/assets/extra-images/classes_01.jpg" alt="">
                    <div class="p_absolute classes_text">Crayon Painting</div>
                </div>
                <div class="keo_classes_wrap p_relative full_width">
                    <img src="catalog/view/theme/skillup/assets/extra-images/classes_02.jpg" alt="">
                    <div class="p_absolute classes_text">Beauty Care</div>
                </div>
                <div class="keo_classes_wrap p_relative full_width">
                    <img src="catalog/view/theme/skillup/assets/extra-images/classes_03.jpg" alt="">
                    <div class="p_absolute classes_text">Kids Education</div>
                </div>
            </div>
            <div class="classes_view_all">
                <a class="d_inline_block" href="#">View All</a>
            </div>
        </section> 
        {% endif %}
