<h3 class="hidden">{{ heading_title }}</h3>
<div class="row hidden"> {% for product in products %}
  <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <p>{{ product.description }}</p>
        {% if product.rating %}
        <div class="rating">{% for i in 1..5 %}
          {% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
          {% endfor %}</div>
        {% endif %}
        {% if product.price %}
        <p class="price"> {% if not product.special %}
          {{ product.price }}
          {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
          {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
        {% endif %} </div>
      <div class="button-group">
        <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
      </div>
    </div>
  </div>
  {% endfor %} </div>

    <section class="keo_recently_bg">
            <div class="container">
                <div class="keo_hdg_02 text-cenetr mb_25 full_width">
                    <h3 class="mb_20 p_relative d_inline_block">Recently Added Classes</h3>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque 
                        <span class="d_block">ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</span>
                    </p>
                </div>
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-4 col-sm-4">
                        <div class="keo_recently_wrap full_width">
                            <figure>
                               <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
                            </figure>
                            <div class="keo_recently_text full_width">
                                <h5><a href="{{ product.href }}">{{ product.name }}</a></h5>
                                <span class="d_block keo_by">By {{ product.instructor }}</span>
                                <div class="keo_price">
                                    <span style="color: #f5863e !important; font-weight: bold;" class="price"> 
                                        {% if product.price %}
                                        {% if not product.special %}
                                      {{ product.price }} / <span style="color: #000;">month</span>
                                      {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                                       </span>
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                      {% endfor %} 
                </div>
                <div class="recently_view_all">
                    <a target="_blank" class="d_inline_block" href="index.php?route=product/category&path=65&explore_class=1">View All</a>
                </div>
            </div>
        </section>
