<section class="keo_testomonial_bg">
            <div class="container">
                <div class="keo_hdg_01 text-cenetr mb_25 full_width">
                    <h3 class="mb_20 p_relative d_inline_block">Instructor Profiles</h3>
                </div>
                <div class="keo_testimonial_slider" id="keo_testimonial_slider">
                    <div class="keo_testi_wrap full_width">
                        <p class="p_relative">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <span class="d_block">do eiusmod tempor incididunt ut labore et enim etre astim </span>dolore magna aliqua. Ut ad minim veniam.</p>
                        <h6>Drake Stephen</h6>
                        <span class="d_block">19 February, 2020</span>
                    </div>
                    <div class="keo_testi_wrap full_width">
                        <p class="p_relative">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <span class="d_block">do eiusmod tempor incididunt ut labore et enim etre astim </span>dolore magna aliqua. Ut ad minim veniam.</p>
                        <h6>Drake Stephen</h6>
                        <span class="d_block">19 February, 2020</span>
                    </div>
                    <div class="keo_testi_wrap full_width">
                        <p class="p_relative">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <span class="d_block">do eiusmod tempor incididunt ut labore et enim etre astim </span>dolore magna aliqua. Ut ad minim veniam.</p>
                        <h6>Drake Stephen</h6>
                        <span class="d_block">19 February, 2020</span>
                    </div>
                    <div class="keo_testi_wrap full_width">
                        <p class="p_relative">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <span class="d_block">do eiusmod tempor incididunt ut labore et enim etre astim </span>dolore magna aliqua. Ut ad minim veniam.</p>
                        <h6>Drake Stephen</h6>
                        <span class="d_block">19 February, 2020</span>
                    </div>
                </div>
            </div>
        </section>