{{ header }}
<div id="product-category" class="">
  <ul class="breadcrumb hidden">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
     <!--  <h2>{{ heading_title }}</h2>
      {% if thumb or description %}
      <div class="row"> {% if thumb %}
        <div class="col-sm-2"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
        {% endif %}
        {% if description %}
        <div class="col-sm-10">{{ description }}</div>
        {% endif %}</div>
      <hr>
      {% endif %}
      {% if categories %}
      <h3>{{ text_refine }}</h3>
      {% if categories|length <= 5 %}
      <div class="row">
        <div class="col-sm-3">
          <ul>
            {% for category in categories %}
            <li><a href="{{ category.href }}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% else %}
      <div class="row">{% for category in categories|batch((categories|length / 4)|round(1, 'ceil')) %}
        <div class="col-sm-3">
          <ul>
            {% for child in category %}
            <li><a href="{{ child.href }}">{{ child.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}</div>
      <br />
      {% endif %}
      {% endif %}
      {% if products %}
      <div class="row">
        <div class="col-md-2 col-sm-6 hidden-xs">
          <div class="btn-group btn-group-sm">
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
            <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-group"><a href="{{ compare }}" id="compare-total" class="btn btn-link">{{ text_compare }}</a></div>
        </div>
        <div class="col-md-4 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              
              
              
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              
              
              
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              
              
              
              {% else %}
              
              
              
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              
              
              
              {% endif %}
              {% endfor %}
            
            
            
            </select>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
            <select id="input-limit" class="form-control" onchange="location = this.value;">
              
              
              
              {% for limits in limits %}
              {% if limits.value == limit %}
              
              
              
              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
              
              
              
              {% else %}
              
              
              
              <option value="{{ limits.href }}">{{ limits.text }}</option>
              
              
              
              {% endif %}
              {% endfor %}
            
            
            
            </select>
          </div>
        </div>
      </div>
      <div class="row"> {% for product in products %}
        <div class="product-layout product-list col-xs-12">
          <div class="product-thumb">
            <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
            <div>
              <div class="caption">
                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                <p>{{ product.description }}</p>
                {% if product.price %}
                <p class="price"> {% if not product.special %}
                  {{ product.price }}
                  {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                  {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
                {% endif %}
                {% if product.rating %}
                <div class="rating"> {% for i in 1..5 %}
                  {% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>{% endif %}
                  {% endfor %} </div>
                {% endif %} </div>
              <div class="button-group">
                <button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %} </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% endif %}
      {% if not categories and not products %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %} -->

<script src="{{ site_url }}admin/view/javascript/jquery/datetimepicker/moment/moment.min.js" type="text/javascript"></script>
<script src="{{ site_url }}admin/view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js" type="text/javascript"></script>
<script src="{{ site_url }}admin/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<link href="{{ site_url }}admin/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />

        <section class="keo_explore_classes_bg full_width">
            <div class="container">
                <ul class="keo_breadcrumb full_width">
                    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
                </ul>
                <div class="keo_hdg_01 text-left mb_25 full_width">
                    <h3 class="text-left left p_relative d_inline_block">All Classes</h3>
                    <div class="keo_aside_search p_relative right">
                        <select id="input-sort" class="form-control" onchange="location = this.value;">
              
              
              
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              
              
              
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              
              
              
              {% else %}
              
              
              
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              
              
              
              {% endif %}
              {% endfor %}
            
            
            
            </select>
                    </div>
                </div>
                <div class="row">
                    <aside class="col-md-3" id="main_filter">
                        <div class="keo_aside_outer full_width">
                            <div class="keo_aside_hdg full_width">
                                <h5>Filters</h5>
                            </div>
                            <div class="keo_aside_inner full_width">
                                <div class="keo_aside_search p_relative full_width mb_20">
                                    <input type="text" name="search_keyword" placeholder="Search by Keywords">
                                    <button>
                                        <img src="catalog/view/theme/skillup/assets/images/search_icon.png" alt="">
                                    </button>
                                </div>
                                <div class="keo_aside_search p_relative full_width mb_15">
                                    <select name="city_filter">
                                      <option value="">Filter by City</option>
                                        {% for zone in zones %}
                                         <option value="{{ zone.zone_id }}">{{ zone.name }}</option>
                                         {% endfor %}
                                    </select>
                                    <!-- <input type="text" name="" placeholder="Search by Keywords"> -->
                                </div>
                                <div class="keo_aside_search p_relative full_width mb_15">
                                    <select name="location_filter">
                                        <option value="">Search by area</option>
                                        {% for location1 in locations %}
                                         <option value="{{ location1.location }}">{{ location1.location }}</option>
                                         {% endfor %}
                                    </select>
                                    <!-- <input type="text" name="" placeholder="Search by Keywords"> -->
                                </div>
                                <div class="keo_aside_search p_relative full_width mb_25">
                                    <select name="type_filter">
                                        <option value="">Filter by Class type</option>
                                        <option value="online">Online</option>
                                        <option value="offline">Offline</option>
                                        
                                    </select>
                                    <!-- <input type="text" name="" placeholder="Search by Keywords"> -->
                                </div>
                                <div class="keo_aside_search p_relative full_width mb_15">
                                    <h5>Filter by Price</h5>
                                    <div class="price-range-slider">
  
                                      <p class="range-value">
                                        <input name="price_filter" type="text" id="amount" readonly>
                                      </p>
                                      <div id="slider-range" class="range-bar"></div>
                                      
                                    </div>
                                </div>
                                <div class="keo_aside_search p_relative full_width mb_15">
                                    <h5>Filter by Date</h5>
                                    <div style="border: 1px solid#e5e1e1;background:#f2f3f5;padding-top: 0%;margin-bottom: 6%;" class="input-group date">
                    <input style="border: none;height: 35px;" type="text" name="date_available" value="" placeholder="From" data-date-format="YYYY-MM-DD" id="input-date-available" class="form-control" />
                    <span class="input-group-btn">
                    <button class="btn btn-default" style="border: none;background: #f2f3f5;" type="button"><i class="fa fa-calendar"></i></button>
                    </span></div>
                                    <div style="border: 1px solid#e5e1e1;background:#f2f3f5;padding-top: 0%;margin-bottom: 6%;"  class="input-group date">
                    <input style="border: none;height: 35px;" type="text" name="date_available_to" value="" placeholder="To" data-date-format="YYYY-MM-DD" id="input-date-available" class="form-control" />
                    <span class="input-group-btn">
                    <button class="btn btn-default"  style="border: none;background: #f2f3f5;" type="button"><i class="fa fa-calendar"></i></button>
                    </span></div>
                                    <!-- <input type="text" name="" placeholder="Search by Keywords"> -->
                                </div>
                                <div class="keo_aside_search p_relative full_width mb_20">
                                    <h5>Filter by Days</h5>
                                    <ul class="keo_checkbox_list full_width">
                                        <li>
                                            <label class="keo_chkbox_cont">Sunday
                                                <input name="day_1" type="checkbox" value="Sunday">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="keo_chkbox_cont">Monday
                                                <input name="day_2" type="checkbox" value="Monday">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="keo_chkbox_cont">Tuesday
                                                <input name="day_3" type="checkbox" value="Tuesday">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="keo_chkbox_cont">Wednesday
                                                <input name="day_4" type="checkbox" value="Wednesday">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="keo_chkbox_cont">Thursday
                                                <input name="day_5" type="checkbox" value="Thursday">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="keo_chkbox_cont">Friday
                                                <input name="day_6" type="checkbox" value="Friday">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="keo_chkbox_cont">Saturday
                                                <input name="day_7" type="checkbox" value="Saturday">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="keo_aside_search p_relative full_width mb_20">
                                    <h5>Filter by Time</h5>
                                    <ul class="keo_checkbox_list full_width">
                                        <li>
                                            <label class="keo_chkbox_cont">05:00 AM - 12:00 PM
                                                <input name="time_filter1" type="checkbox" value="5AMTO12PM">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="keo_chkbox_cont">12:00PM - 05:00PM
                                                <input type="checkbox" name="time_filter2" value="12PMTO5PM">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="keo_chkbox_cont">05:00PM - 11:00PM
                                                <input type="checkbox" value="5PMTO11PM" name="time_filter3">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="keo_aside_search p_relative full_width mb_20">
                                    <h5>Filter by Skill Level</h5>
                                    <ul class="keo_checkbox_list full_width">
                                        <li>
                                            <label class="keo_chkbox_cont">Beginner
                                                <input name="skill_1" type="checkbox" value="Beginner">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="keo_chkbox_cont">Intermediate
                                                <input name="skill_2" type="checkbox" value="Intermediate">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="keo_chkbox_cont">Advanced
                                                <input name="skill_3" type="checkbox" value="Advanced">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="keo_aside_search p_relative full_width mb_15">
                                    <h5>Filter by Age Level</h5>
                                    <ul class="keo_checkbox_list full_width">
                                        <li>
                                            <label class="keo_chkbox_cont">Kids
                                                <input name="age_1" type="checkbox" value="Kids">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="keo_chkbox_cont">Teens
                                                <input name="age_2" type="checkbox" value="Teens">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="keo_chkbox_cont">Adults
                                                <input name="age_3" type="checkbox" value="Adults">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="keo_aside_search p_relative full_width">
                                    <input type="submit" onclick="searchFilteredData();" name="submit" value="Search">
                                </div>
                            </div>
                        </div>
                    </aside>
                    <div class="col-md-9">
                        <div class="keo_all_classes_content keo_classes_page_bg full_width">
                            <div class="row" id="ajax_result">
                             {% for product in products %}
                                <div class="col-md-4 col-sm-4">
                                    <div class="keo_recently_wrap full_width">
                                        <figure class="p_relative">
                                            <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
                                            <div class="p_absolute keo_heart_icon">
                                                <img class="white" src="catalog/view/theme/skillup/assets/images/heart_01.png" alt="">
                                                <img class="red" src="catalog/view/theme/skillup/assets/images/heart_red_01.png" alt="">
                                            </div>
                                        </figure>
                                        <div class="keo_recently_text full_width">
                                            <h5><a href="{{ product.href }}">{{ product.name }}</a></h5>
                                            <span class="d_block keo_by">By {{ product.instructor }}</span>
                                            <div class="keo_price left">
                                                {% if product.price %}
                <span style="color: #f5863e !important; font-weight: bold;" class="price"> {% if not product.special %}
                  {{ product.price }} / <span style="color: #000;">month</span>
                  {% else %} <span class="price-new">{{ product.special }} /<span style="color: #000;">month</span> </span> <span class="price-old">{{ product.price }} / month</span> {% endif %}
                  </span>
                {% endif %}
                
                                            </div>
                                            {% if product.rating %}
                                            <div class="keo_rating right">
                                              {% for i in 1..5 %}
                                                <!-- <img src="catalog/view/theme/skillup/assets/images/start_01.png"> -->
{% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>{% endif %}
                  {% endfor %}
                                                <!-- <span class="rating d_inline_block">4.9</span>
                                                <span class="countd_inline_block">(3)</span> -->
                                            </div>
                                            {% endif %} 
                                        </div>
                                    </div>
                                </div>
                               {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<script type="text/javascript">

  function searchFilteredData(){
    $.ajax({
      type:"post",
      url:"index.php?route=product/category/getFilteredProducts",
      data:$("#main_filter input[type=submit],#main_filter input[type=text],#main_filter select[name=city_filter],#main_filter select[name=location_filter],#main_filter select[name=type_filter],#main_filter input[type=checkbox]:checked"),
      dataType:'json',
      cache:false,
      beforeSend: function() {
        $(".keo_all_classes_content").addClass('loading_data');
    },
      success:function(json){
        if(json){
          html="";
          $(json).each(function(i){
html += '<div class="col-md-4 col-sm-4">';
                                   html += ' <div class="keo_recently_wrap full_width">';
                                        html += '<figure class="p_relative">';
                                            html += '<a href="'+json[i].href+'"><img src="'+json[i].thumb+'" alt="'+json[i].name+'" title="'+json[i].name+'" class="img-responsive" /></a>';
                                            html += '<div class="p_absolute keo_heart_icon">';
                                               html += ' <img class="white" src="catalog/view/theme/skillup/assets/images/heart_01.png" alt="">';
                                                html += '<img class="red" src="catalog/view/theme/skillup/assets/images/heart_red_01.png" alt="">';
                                            html += '</div>';
                                        html += '</figure>';
                                        html += '<div class="keo_recently_text full_width">';
                                            html += '<h5><a href="'+json[i].href+'">'+json[i].name+'</a></h5>';
                                           html += ' <span class="d_block keo_by">By '+json[i].instructor+'</span>';
                                           html += ' <div class="keo_price left">';
                                               if(json[i].price){
 html += '<span style="color: #f5863e !important; font-weight: bold;" class="price">';
 if(!json[i].special){
  html += json[i].price+' / <span style="color: #000;">month</span>';
 }
  html += '</span>';
                                                }
               
                
                
                                            html += '</div>';
                                            
                                        html += '</div>';
                                    html += '</div>';
                                html += '</div>';
          });

$("#ajax_result").html(html);
        }else{
          $("#ajax_result").html("There are no products for this search");
        }

      },
      complete: function() {
        $(".keo_all_classes_content").removeClass('loading_data');
    }
    });
  }
  $('.date').datetimepicker({
      language: '{{ datepicker }}',
      pickTime: false
    });

$(function() {
  $( "#slider-range" ).slider({
    range: true,
    min: 1,
    max: 5000,
    values: [ 1, 5000 ],
    slide: function( event, ui ) {
    $( "#amount" ).val( "DHS " + ui.values[ 0 ] + " - DHS " + ui.values[ 1 ] );
    }
  });
  $( "#amount" ).val( "DHS " + $( "#slider-range" ).slider( "values", 0 ) +
    " - DHS " + $( "#slider-range" ).slider( "values", 1 ) );
});
</script>
<style type="text/css">
  .loading_data{
    background:
#fff;

opacity: 0.2;
  }
.price-range-slider {
  width:100%;
  float:left;
  padding:10px 20px;
  .range-value {
    margin:0;
    input {
      width:100%;
      background:none;
      color: #000;
      font-size: 16px;
      font-weight: initial;
      box-shadow: none;
      border: none;
      margin: 20px 0 20px 0;
    }
  }
  
  .range-bar {
    border: none;
    background: #000;
    height: 3px;  
    width: 96%;
    margin-left: 8px;
    
    .ui-slider-range {
      background:#06b9c0;
    }
    
    .ui-slider-handle {
      border:none;
      border-radius:25px;
      background:#fff;
      border:2px solid #06b9c0;
      height:17px;
      width:17px;
      top: -0.52em;
      cursor:pointer;
    }
    .ui-slider-handle + span {
      background:#06b9c0;
    }
  }
}
</style>

      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }} 
