{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group hidden">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_offers_status" id="input-status" class="form-control">
                {% if module_offers_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="table table-responsive">
            <table class="table">
              <thead>
                <tr>
                   <th>Name</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Company</th>
                <th>Action</th>
                </tr>
               
              </thead>
              <tbody>
{% for offer in offers %}

                <tr>
                  <td>{{ offer.name }}</td>
                  <td>{{ offer.email }}</td>
                  <td>{{ offer.telephone }}</td>
                  <td>{{ offer.company }}</td>
                  <td><a href="javascript:void(0);" data-href="{{ offer.action_approve }}" onclick="approve('{{ offer.action_approve }}','{{ offer.email }}');"  class="btn btn-success"><i class="fa fa-reply"></i> Approve</a> <a onclick="disapprove('{{ offer.action_disapprove }}','{{ offer.email }}')" href="javascript:void(0);" data-href="{{ offer.action_disapprove }}"  class="btn btn-danger"><i class="fa fa-close"></i> Disapprove</a></td>
                </tr>
{% endfor %}
              </tbody>
            </table>
          </div>
        </form>
        <script type="text/javascript">
          function approve(url,email){
if(confirm("Are you sure?")){
  location.href=url+"&email="+email;
}else{
  return false;
}
          }
           function disapprove(url,email){
if(confirm("Are you sure?")){
  location.href=url+"&email="+email;
}else{
  return false;
}
          }
        </script>
      </div>
    </div>
  </div>
</div>
{{ footer }}