{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" {% if headers %} id="submit_form" {% endif %} form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <span id="message"></span>
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_xlsupdate_status" id="input-status" class="form-control">
                {% if module_xlsupdate_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
       
       
            <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_upload }}</label>
            <div class="col-sm-10">
            <input class="bt btn-success" type="file" name="upload_xls" value=""> 
            </div>
            </div>
              {% if headers %}
               <div class="form-group">
            <label class="col-sm-3">Choose</label>
            <div class="col-sm-9">
              <select onchange="select_action(this.value);" name="action_choice" class="form-control">
                <option value="">Select option</option>
                <option value="all">Create / update all </option>
              </select>
            </div>
            </div>
            <div id="process" class="form-group col-sm-12" style="display: none;">
              <div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 5%"></div>
</div>
            </div>

          
          <input type="hidden" name="uploaded_file" class="form-control" value="{{ uploaded_file }}">
      
        
        {% endif %}
        </form>

      </div>
    </div>
  </div>
</div>
<script>
function select_action(val){
    if(val=='some'){
      $("#some_update").show();
    }else{
    $("#some_update").hide();
    }
}
$("#submit_form").click(function(){
var clear_timer;
$("#message").html('');
setInterval(function(){ $(".progress-bar").css('width', Math.floor(Math.random() * 1000) ) }, 500);
$("#form-module").on('submit', function(event){
event.preventDefault();
 $('#process').css('display', 'block');


$.ajax({
        url:"index.php?route=extension/module/xlsupdate/importExcel&user_token={{ user_token }}",
        method:"POST",
        data: new FormData(this),
        dataType:'json',
        contentType:false,
        cache:false,
        processData:false,
        success:function(data){
          if(data.success=='success'){
             $('#process').css('display', 'none');
      $('#message').html('<div class="alert alert-success">Data Successfully Imported</div>');
             
          }else{
            $('#process').css('display', 'none');
      $('#message').html('<div class="alert alert-danger">There is something wrong with import please check console for errors.</div>');
          }
        },
    error: function (xhr, status, errorThrown) {
        //Here the status code can be retrieved like;
        xhr.status;

var string=xhr.responseText;
var substring='Maximum execution time';
if(string.indexOf(substring) !== -1){
  $('#process').css('display', 'none');
    //The message added to Response object in Controller can be retrieved as following.
       $('#message').html( '<div class="alert alert-danger">'+ xhr.responseText +'</div>');
}
      
    }

});
});

 


});
</script>
{{ footer }}