<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<!-- <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" /> -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<!-- <link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %} -->

    <!-- Custom Main StyleSheet CSS -->
    <link href="catalog/view/theme/skillup/assets/css/style.css" rel="stylesheet">
    <link href="catalog/view/theme/skillup/assets/css/main.css" rel="stylesheet">
    <!-- Color StyleSheet CSS -->
    <link href="catalog/view/theme/skillup/assets/css/color.css" rel="stylesheet">
    <!-- Responsive StyleSheet CSS -->
    <link href="catalog/view/theme/skillup/assets/css/responsive.css" rel="stylesheet">
  <!-- Range Slider CSS -->
    <link href="catalog/view/theme/skillup/assets/css/range-slider.css" rel="stylesheet">
      <!--Default JavaScript-->
    <script src="catalog/view/theme/skillup/assets/js/jquery.js"></script> 
    <!--Bootstrap core JavaScript-->
    <script src="catalog/view/theme/skillup/assets/js/bootstrap.js"></script> 
    <!--Modernizr Custom JavaScript-->
    <script src="catalog/view/theme/skillup/assets/js/modernizr.custom.js"></script> 
    <!--DL Menu JavaScript-->
    <script src="catalog/view/theme/skillup/assets/js/jquery.dlmenu.js"></script>
    <!--Slick Slider JavaScript-->
    <script src="catalog/view/theme/skillup/assets/js/slick.min.js"></script>  
    <!--Custom JavaScript-->
    <script src="catalog/view/theme/skillup/assets/js/custom.js"></script>

    <!--Range Slider JavaScript-->
    <script src="catalog/view/theme/skillup/assets/js/range-slider.js"></script> 

{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
 <!-- Start Video Modal -->
    <div class="modal fade keo_video_model" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <iframe height="420px" src="https://www.youtube.com/embed/NVzbSH3cKU0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!-- End Video Modal -->

    <!-- Preloader Start -->
    <div class="preloader"></div>
    <!-- Preloader End -->
<body>
   <header class="header">
        <div class="left left_section">
            <a class="logo left" href="index.php?route=common/home">
                <img src="catalog/view/theme/skillup/assets/images/logo.png" alt="">
            </a>
            <form class="keo_top_form left p_relative">
                <input type="text" name="" placeholder="Search for Classes">
                <button>
                    <img src="catalog/view/theme/skillup/assets/images/search_icon.png" alt="">
                </button>
            </form>
        </div>
        <div class="right right_section">
            <div class="top_ui_element right">
                <a class="login d_inline_block" href="index.php?route=account/login">Login</a>
                <a class="register d_inline_block" href="index.php?route=account/register">Sign Up</a>
            </div>
            <nav class="right top_navigation">
                <ul>
                    <li><a href="index.php?route=product/category&path=65&explore_class=1">Explore Classes</a></li>
                    <li><a href="#">Corporate Activities</a></li>
                    <li><a href="index.php?route=common/offerclass">Offer a Class</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
                <!--DL Menu Start-->
                <div id="dl-menu" class="dl-menuwrapper">
                    <button class="dl-trigger">Open Menu</button>
                    <ul class="dl-menu">
                        <li><a href="index.php?route=product/category&path=65&explore_class=1">Explore Classes</a></li>
                        <li><a href="#">Corporate Activities</a></li>
                        <li><a href="index.php?route=common/offerclass">Offer a Class</a></li>
                        <li><a href="#">About Us</a></li>
                    </ul>
                </div>
                <!--DL Menu END-->
            </nav>
        </div>
    </header>
        <!--MAIN BANNER START -->
        {% if showHomeBanner %}
    <div class="main_banner">
        <div class="banner-slider">
            <div class="banner_slide">
                <figure class="theme_overlay">
                    <img src="catalog/view/theme/skillup/assets/extra-images/banner-01.jpg" alt="">
                    <div class="banner_text">
                        <h2 class="">Discover Local Classes. Learn New Skills. <span class="d_block"> Everyone has a passion. Find yours.</span></h2>
                        <a class="" href="#">Search for Classes</a>
                    </div>
                </figure>
            </div>
            <div class="banner_slide">
                <figure class="theme_overlay">
                    <img src="catalog/view/theme/skillup/assets/extra-images/banner-02.jpg" alt="">
                    <div class="banner_text">
                        <h2 class="">Discover Local Classes. Learn New Skills. <span class="d_block"> Everyone has a passion. Find yours.</span></h2>
                        <a class="" href="#">Search for Classes</a>
                    </div>
                </figure>
            </div>
            <div class="banner_slide">
                <figure class="theme_overlay">
                    <img src="catalog/view/theme/skillup/assets/extra-images/banner-01.jpg" alt="">
                    <div class="banner_text">
                        <h2 class="">Discover Local Classes. Learn New Skills. <span class="d_block"> Everyone has a passion. Find yours.</span></h2>
                        <a class="" href="#">Search for Classes</a>
                    </div>
                </figure>
            </div>
        </div>
    </div>
    {% endif %}
        {% if showExploreBanner %}
    <div class="main_banner">
        <div class="banner-slider">
            <div class="banner_slide">
                <figure class="theme_overlay">
                    <img src="catalog/view/theme/skillup/assets/images/explore-banner.jpg" alt="Explore Classes">
                    <div class="banner_text">
                        <div class="row">
                            <div style="padding-top: 13%;" class="col-sm-offset-1 col-sm-4">
                                 <h2 style="color: #fff;text-align: left;font-size: 47px;" class="">Explore Classes </h2>
                        <p style="color: #fff;text-align: left;" class="d_block"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,sunt in culpa qui eu officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                       
                       
                    </div>
                </figure>
            </div>
            
        </div>
    </div>
    {% endif %}

     {% if showOfferBanner %}
    <div class="main_banner">
        <div class="banner-slider">
            <div class="banner_slide">
                <figure class="theme_overlay">
                    <img src="image/catalog/instructor/Demo Ins/offer-banner.jpg" alt="Offer Class">
                    <div class="banner_text">
                        <div class="row">
                            <div style="padding-top: 13%;" class="col-sm-offset-1 col-sm-4">
                                 <h2 style="color: #fff;text-align: left;font-size: 47px;" class="">Offer a Class </h2>
                        <p style="color: #fff;text-align: left;" class="d_block"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,sunt in culpa qui eu officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                       
                       
                    </div>
                </figure>
            </div>
            
        </div>
    </div>
    {% endif %}
    <!--MAIN BANNER END-->  

<main class="content full_width">

       {{ menu }}

       
      

<nav class="hidden" id="top">
  <div class="container">{{ currency }}
    {{ language }}
    <div id="top-links" class="nav pull-right">
      <ul class="list-inline">
        <li><a href="{{ contact }}"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li>
        <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            {% if logged %}
            <li><a href="{{ account }}">{{ text_account }}</a></li>
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
            <li><a href="{{ download }}">{{ text_download }}</a></li>
            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
            {% else %}
            <li><a href="{{ register }}">{{ text_register }}</a></li>
            <li><a href="{{ login }}">{{ text_login }}</a></li>
            {% endif %}
          </ul>
        </li>
        <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a></li>
        <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li>
        <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<header class="hidden">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}</div>
      </div>
      <div class="col-sm-5">{{ search }}</div>
      <div class="col-sm-3">{{ cart }}</div>
    </div>
  </div>
  {{ menu }}
</header>

  <style>
.breadcrumb{
    background:#fff !important;
}
  </style>