{% if categories and 1==0 %}
<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {% for category in categories %}
        {% if category.children %}
        <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
{% endif %} 


{% if categories%}
 <section class="keo_botm_nav_bg full_width">
            <div class="container">
                <div class="keo_navigation full_width">
                    <ul>
                        {% for category in categories %}
                           {% if category.children %}
                        <li>
                            <a href="{{ category.href }}">{{ category.name }}</a>
                            <div class="keo_inner">
                               {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                                <ul>
                                   {% for child in children %}
                                    <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                                      {% endfor %}
                                </ul>
                                  {% endfor %}
                                <!-- <ul>
                                    <li><a href="#">Sweing & Textile</a></li>
                                    <li><a href="#">Painting & Drawing</a></li>
                                    <li><a href="#">Photography</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">DIY</a></li>
                                    <li><a href="#">Film Making</a></li>
                                    <li><a href="#">Illustrative Art</a></li>
                                </ul> -->
                            </div>
                        </li>
                        {% else %}
                        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
                       {% endif %}
                       {% endfor %}
                    </ul>
                </div>
                <!--DL Menu Start-->
                <div id="dl_menu_bottom" class="dl-menuwrapper">
                    <button class="dl-trigger">Open Menu</button>
                    <ul class="dl-menu">
                         {% for category in categories %}
                           {% if category.children %}
                        <li>
                            <a href="{{ category.href }}">{{ category.name }}</a>
                            <ul class="dl-submenu">
                                <li>
                                    <a href="#">Category 1</a>
                                     {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                                <ul class="dl-submenu">
                                   {% for child in children %}
                                    <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                                      {% endfor %}
                                </ul>
                                  {% endfor %}
                                </li>
                               <!--  <li>
                                    <a href="#">Category 2</a>
                                    <ul class="dl-submenu">
                                        <li><a href="#">Sweing & Textile</a></li>
                                        <li><a href="#">Painting & Drawing</a></li>
                                        <li><a href="#">Photography</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Category 3</a>
                                    <ul class="dl-submenu">
                                        <li><a href="#">DIY</a></li>
                                        <li><a href="#">Film Making</a></li>
                                        <li><a href="#">Illustrative Art</a></li>
                                    </ul>
                                </li> -->
                            </ul>
                        </li>
                        {% else %}

                        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <!--DL Menu END-->
            </div>
        </section>
        {% endif %} 