{{ header }}
<div id="common-home" class="">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}

<section class="keo_botm_nav_bg full_width offer-main">

            <div class="b_color" style="background:url('image/catalog/instructor/Demo Ins/offer-bg.jpg');background-repeat: no-repeat;">
                {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
     {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
                <h1 class="heading1">
                    Offer a Class Now
                </h1>
                <p class="offer-para">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque<br> ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                </p>
                <form method="post" action="{{ action }}"  enctype="multipart/form-data">
                    <div class="container" style="width: 56%;">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                            <input type="text" name="fname" placeholder="First Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" placeholder="Email Address" class="form-control">
                            </div>    
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                             <input type="text" name="lname" placeholder="Your Last Name" class="form-control">
                            </div>
                            
                            <div class="form-group">
                            <input type="password" name="password" placeholder="Password" class="form-control">    
                            </div>
                            </div>
                           <div class="col-sm-12">
                              <div class="form-group">
                              <select class="form-control" name="type">
                               <option value="">Type</option>
                               <option value="offline">Offline</option>
                               <option value="online">Online</option>
                             </select>
                             </div>
                         </div>
                             <div class="col-sm-6">
                                <div class="form-group">
                                 <select class="form-control" name="city">
                                     <option value="">City</option>
                                     <option value="Karachi">Karachi</option>
                                     <option value="Lahore">Lahore</option>
                                     <option value="Peshawar">Peshawar</option>
                                 </select>
                             </div>  
                           </div>
                           <div class="col-sm-6">
                               <div class="form-group">
                                   <select class="form-control" name="state">
                                       <option value="State">State</option>
                                         <option value="Samanabad">Samanabad</option>
                                         <option value="Iqbal Town">Iqbal Town</option>
                                   </select>
                               </div>
                           </div>
                           <div class="col-sm-12">
                               <div class="form-group">
                                  <input type="text" class="form-control" name="company" placeholder="Company or Full Display Name"> 
                               </div>
                           </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="number" class="form-control" name="telephone" placeholder="Phone Number" >
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <textarea name="class_type" rows="2" class="form-control" placeholder="What type of classes are you giving? &#10; Ex. Nail art, Baking, French language..."></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <textarea name="website" rows="2" class="form-control" placeholder="Websites or Social Media pages&#10;You can mentioned here..."></textarea>
                                
                            </div>
                        </div>
                        <button type="submit" class="block">Join Us Now</button>

                    </div>
                    
                </form>
            </div>
        </section>



    {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}